// 1. IMPORTACIONES (Siempre al principio)
@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// 2. TUS VARIABLES GLOBALES
:root {
  /* COLORES DE TU MARCA */
  --principal-color: #00a896;
  --principal-white: #fafffe;
  --principal-text: #00332e;
  --secondary-color: #006b60;
  --secondary-white: #f7f7f7;
  --principal-accent: #a80012;

  /* ESTADOS */
  --status-color_disponible: #4caf50;
  --status-color_ocupado: #e53935;
  --status-color_pendiente: #ff9800;
  --status-color_reservado: #ffe524;
  --status-color_info: #2196f3;

  --font-principal: 'Inter';

  /* ESCALA DE ESPACIADO */
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-xxl: 3rem;

  --floor-grid-color: rgba(0, 0, 0, 0.128);
}

// 3. CONFIGURACIÓN DEL TEMA ANGULAR MATERIAL (Cyan/Orange)
html {
  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        // <--- Color primario Cyan
        tertiary: mat.$orange-palette,
        // <--- Color terciario Orange
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

// 4. ESTILOS BASE Y RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-principal), sans-serif;
  margin: 0;
  height: 100%;
  color-scheme: light;

  // Variables de superficie de Material
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

html,
body {
  height: 100%;
}

mat-drawer-content {
  height: 100%;
  overflow-y: auto;
}

mat-sidenav-content {
  overflow: visible;
}

// 5. TIPOGRAFÍA GLOBAL
h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--principal-text);
}
h2 {
  font-size: 2rem;
  font-weight: 600;
}
h3 {
  font-size: 1.5625rem;
  font-weight: 600;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

body[data-theme='dark'] {
  --floor-grid-color: rgba(255, 255, 255, 0.15);
}
